<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WinFastLoseFaster</title>
    <link href="~/Content/Body.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />

    @*JAVASCRIPT*@

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>
  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">WinFastLoseFaster</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">About</a></li>
               <li><a href="#">contact us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Spel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Games/Coinflip">CoinFlip</a></li>
                        <li><a href="#">Roulette</a></li>
                        <li><a href="#">gå inte in hit !</a></li>
                        <li class="divider"></li>
                    </ul>
                   </ul>
            <ul class="nav navbar-nav navbar-right">
                @if ((bool)Session["isLoggedIn"] == true)
                {

                    <li>
                        $ @Session["credits"]
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> @Session["username"] <span class="caret"></span></a>
                        
                            <ul class="dropdown-menu" role="menu">

                            <li><a href="/Profile/Profile">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="~/User/Logout">Logout</a></li>
                        
                        </ul>

                    </li>
                }
                else
                {
                    <li><a href="/User/Index">Login/registrering</a></li>

                }
                
                
            </ul>
        </div>
    </nav> <!--sluta-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WinFastLoseFaster</p>
        </footer>
    </div>


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>