<link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />
@{
    ViewBag.Title = "Profil-Sida";
}

<div class="bigStats">
    <img src="@ViewBag.Picture" alt="@ViewBag.Username" />

        <h2>@ViewBag.Username</h2>

    <div id="deposit">
        <h2>Insättning</h2>
        <h3>@ViewBag.Deposit</h3>
    </div>
    <div id="Win">
        <h2>Vinster</h2>
        <h3>@ViewBag.Wins</h3>
    </div>
    <div id="ratio">
        <h2>Ratio</h2>
        <h3>@ViewBag.WLR</h3>
    </div>

</div>
