<link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />



@{

    ViewBag.Title = "Profil sida";
}
@model IEnumerable<WinFastLoseFaster.Models.Game>
@using WinFastLoseFaster.Models;


<!-- Small modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>*@

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id="changePictureDiv">
                <h3 style="margin-left:30%;">Change profile picture</h3>
                <br /><hr /><br />
                <form action="ChangeProfilePicture" method="post">
                    <img style="margin-left:32%;" id="imgPreview" class="profilPic" src="@ViewBag.Picture" alt="Invalid Picture" />
                    <br /><br />
                    <input style="margin-left:29%; width:250px;" type="text" id="inputProfilePicture" name="newProfilePicture" placeholder="Picture url" value="@ViewBag.Picture" />
                    <br />
                    @*<span style="margin-left:29%; color:red; font-size:15px;" id="PicturePreviewError">error</span>*@
                    <br /><br />

                    <hr />
                    <span style="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Wrapper runt hela skiten-->
<div id="wrapper" class="container">
    <!--Profilbild-->
    <div id="profilHeader" class="row col-lg-12">
        <img class="profilPic" src="@ViewBag.Picture" data-toggle="modal" data-target=".bs-example-modal-sm" />
        <!--Username-->
        <div id="username">
            <h2>@ViewBag.Username</h2>
        </div>
    </div>
   
        <!--W/L Ratio-->
    <div class="row">
        <div class="headStats col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h2>W/L Ratio</h2>
            @if (ViewBag.WLR > 1)
            {
                <h3 class="green">@ViewBag.WLR</h3>
            }
            else if (ViewBag.WLR == 1)
            {
                <h3 class="white">@ViewBag.WLR</h3>
            }
            else
            {
                <h3 class="red"> @ViewBag.WLR</h3>
            }
        </div>
    </div>
        <!--Antal vinster och förluster-->'
        <div class="row">
            <div id="WL" class="headStats col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h2>Win/Loss</h2>
                <h3>
                    <span class="green">@ViewBag.Wins</span>
                    <span class="white">/</span>
                    <span class="red">@ViewBag.Loss</span>
                </h3>
            </div>
        </div>
        <!--Profit-->
        <div class="row">
            <div class="headStats col-xs-3 col-sm-3 col-md-3 col-lg-3">
                 @if (ViewBag.Profit > 0) {    <h2>Profit</h2>
                <h3 class="green">@ViewBag.Profit</h3>
            }
            else if (ViewBag.Profit < 0)
            {
                <h2>Profit</h2>
                <h3 class="red">@ViewBag.Profit</h3>
            }
            else
            {
                <h2>Profit</h2>
                <h3 style="color: white">@ViewBag.Profit</h3>
            }
           </div>
            </div>
        <!--Credits-->
        <div class="row">
        <div class="headStats col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h2>Credits</h2>
            <h3 class="white">@ViewBag.Credits</h3>
        </div>
    </div>
    <!--Flikar-->
        <div class="row">
            <div class="Flikar">
                <div id="matcherFlik">
                    <h3>Matches</h3>
                </div>
                <div id="statsFlik">
                    <h3>Stats</h3>
                </div>
            </div>
            <br />
        </div>
    <!--Status Titlar-->
    @*<table id="statsTitlar">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Wager</th>
                    <th>Winner</th>
                    <th>Credits Won</th>
                    <th>Loser</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Game Type</th>
                </tr>
            </thead>
        </table>*@
    <!--Matcher-->
       <div class="row" >
    <table id="statsTitlar" class="table-responsive">
        @*<thead>*@
        <tr>
            <th>Status</th>
            <th>Wager</th>
            <th>Winner</th>
            <th>Credits Won</th>
            <th>Loser</th>
            <th>Date</th>
            <th>Time</th>
            <th>Game Type</th>
        </tr>
        @*</thead>*@
        @*<tbody>*@
        @foreach (Game game in ViewBag.myGames)
            {
                <!--Spel status-->
            <tr id="game" class="table-responsive">
                @if (game.GameActive == true)
                {
                    <td class="white">Active</td>
                }
                else
                {
                    foreach (Winner winner in game.Winners)
                    {
                        if (winner.WinningUser == ViewBag.currentUser)
                        {
                            <td class="green">Won</td>
                        }
                        else
                        {
                            <td class="red">Lost</td>
                        }
                    }
                }
                <td>@game.Userbets.FirstOrDefault().Wager</td>

                <!--Om spelet är aktivt så kommer där stå pending istället för Winner, Credits-Won och Loser-->
                @if (game.GameActive == true)
                {
                    <td>Pending</td>
                    <td class="white">Pending</td>
                        <td>Pending</td>
                }

                @foreach (Winner winner in game.Winners)
                {
                    if (winner.WinningUser == ViewBag.currentUser)
                    {
                        <td>You</td>
                    }
                    else
                    {
                        <td>@winner.WinningUser.Username</td>
                    }

                    if (winner.WinningUser == ViewBag.currentUser)
                    {
                        <td class="green">@(winner.TotalAmount - game.Userbets.FirstOrDefault().Wager)</td>
                    }
                    else
                    {
                        <td class="red">@(winner.TotalAmount - game.Userbets.FirstOrDefault().Wager)</td>
                    }

                    foreach (var player in game.users)
                    {
                        if (player != winner.WinningUser)
                        {
                            if (winner.WinningUser != ViewBag.currentUser)
                            {
                                <td>You</td>
                            }
                            else
                            {
                                <td>@player.Username</td>
                            }
                        }
                    }
                }
                <!--Om spelet spelades idag så står det today istället för ett datum-->
                @if (game.Timestamp.Date == DateTime.Today)
                {
                    <td>Today</td>
                    <td>@game.Timestamp.ToShortTimeString()</td>
                }
                else
                {
                    <td>@game.Timestamp.ToShortDateString()</td>
                    <td>@game.Timestamp.ToShortTimeString()</td>
                }
                <!--Spel typ-->
                <td>@game.Gametype</td>
            </tr>
        }
        @*</tbody>*@

    </table>
           </div>
    <!--Alla stats på stats sidan-->
    <div id="stats" class="row">
        <div>
            <h3>Total bet amount</h3>
            <h4>@ViewBag.BetsAmount</h4>
        </div>
        <div>
            <h3>Total Deposit</h3>
            <h4>@ViewBag.Deposit</h4>
        </div>
        <div>
            <h3>Total Withdrawal</h3>
            <h4>@ViewBag.Withdrawal</h4>
        </div>
        <div>
            <h3>Matches Played</h3>
            <h4>@ViewBag.MatchesPlayed</h4>
        </div>
        <div>
            <h3>Wins</h3>
            <h4><span class="green">@ViewBag.Wins</span></h4>
        </div>
        <div>
            <h3>Losses</h3>
            <h4><span class="red">@ViewBag.Loss</span></h4>
        </div>
        <div>
            <h3>Amount Won</h3>
            <h4><span class="green">@ViewBag.amountWon</span></h4>
        </div>
    </div>

</div>

<!--Scripts as u can see-->
<script src="~/Scripts/refresh.js"></script>
<script src="~/Scripts/statsFlikar.js"></script>
<script src="~/Scripts/ProfilePicturePreview.js"></script>

