<link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />
@{
    ViewBag.Title = "Profil-Sida";
}
@model IEnumerable<WinFastLoseFaster.Models.Game>
@using WinFastLoseFaster.Models;

<div id="dix4hire">
    <div id="profilHeader">
        <img src="@ViewBag.Picture" />

        <div id="username">
            <h2>@ViewBag.Username</h2>
        </div>

        <div class="headStats">
            <h2>Deposit</h2>
            <h3>$@ViewBag.Deposit</h3>
        </div>

        <div class="headStats">
            <h2>Wins</h2>
            <h3>@ViewBag.Wins</h3>
        </div>

        <div class="headStats">
            @if (ViewBag.Profit > 0)
            {
                <h2>Profit</h2>
                <h3><span style="color: green">@ViewBag.Profit</span></h3>
            }
            else if (ViewBag.Profit < 0)
            {
                <h2>Profit</h2>
                <h3><span style="color: red">@ViewBag.Profit</span></h3>
            }
            else
            {
                <h2>Profit</h2>
                <h3>@ViewBag.Profit</h3>
            }
        </div>
        <div class="headStats">
            <h2>Credits</h2>
            <h3>@ViewBag.Credits</h3>
        </div>
    </div>

    <div class="Flikar">
        <div>Matches</div>
    </div>

    <div class="Stats">
        <div>
            
            @foreach (Game game in ViewBag.myGames)
            {
                
                <div class="game" style="display:inline-block; width:100%;">
                    @if (game.GameActive == true)
                    {
                    <h4>Active</h4>
                    }
                    else
                    {

                        foreach (Winner winner in game.Winners)
                        {
                            if (winner.WinningUser == ViewBag.currentUser)
                            {
                                <h4 style="color:green;">Won</h4>
                            }
                            else
                            {
                                <h4 style="color:red;">Lost</h4>
                            }
                        }

                    }
                    

                    <h4>@game.Userbets.FirstOrDefault().Wager</h4>

                    @*<p>@game.Userbets.IndexOf(Bet { User = ViewBag.currentUser })</p>*@

                    @foreach (Winner winner in game.Winners)
                    {
                        <h4>@winner.WinningUser.Username</h4>
                        <h4>@(winner.TotalAmount - game.Userbets.FirstOrDefault().Wager)</h4>
                    }
                    <h4>@game.Timestamp.ToShortDateString()</h4>
                    <h4>@game.Timestamp.ToShortTimeString()</h4>


                    <h4>@game.Gametype</h4>

                </div>

            }
        </div>
    </div>
</div>